/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

/* ---------------------------------
		EN TETE DE PAGE
-----------------------------------*/
header nav {
    margin: 0 10%;
    padding: 10px 0;
}

header nav ul {
    margin: 0;
    list-style: none;
    text-align: center;
    float: right;
}

#menu-menu-header {
    float: left;
    padding: 0 0 0 20%;
}

header nav ul>li, header nav ul>li>a {
    display: inline-block;
    line-height: 50px;
    height: 40px;
    margin: 0 20px;
    color: #929292;
    text-decoration: none;
}

header nav ul>li>a:hover {
    color: #ef4f4f;
    border-bottom: 2px solid #ef4f4f;
}

#homeLink {
    float: left;
}

.logo {
    background: url(../img/wf3-logo.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 50px;
    background-position: center center;
    background-size: 100%;
}

main {
    font-size: 0;
}

/* ---------------------------------
			PRESENTATION
-----------------------------------*/
.jumbotron {
    background: url(../img/home.jpg) no-repeat;
    padding: 15% 0 28% 5%;
    background-size: 100%;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 25px 0;
}

h3{
    font-size: 24px;
    line-height: 1.75;
}

a {
    text-decoration: none;
}

a.btn {
    border-style: solid;
    padding: 10px 50px;
    border-width: 1px;
    border-color: #333;
    color: #333;
}

a.btn:hover {
    background-color: #333;
    color: white;
}

/* ---------------------------------
		MODELE 3 COLONNES
-----------------------------------*/
.container {
    width:100%;
    display: inline-block;
    font-size: 14px;
}

.container .col {
	/* équivalent à 33.333333% */
    width:calc(100% / 3);
    float:left;
    text-align: center;
}

.container .col.media {
    background-color: #f2f2f2;
    font-size: 16px;
    min-height: 265px;
}

.container .col.media figure {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 50px 0;
}

.container .col.media figure img {
    width: 30%;
}

.container .col.media a {
    margin-top: 20px;
    display: block;
    color: #0099cc;
}

.container .col.media a:hover {
    text-decoration: underline;
}

.container .col:not(.media) {
    position: relative;
    /* La propriété overflow permet de ne pas afficher les éléments qui dépasse de mon conteneur
    en l'occurrence la 2ème image plus haute que les deux autres */
    overflow: hidden;
    height: 450px;
}

.container .col .col-img {
    width: 100%;
}

.container .col .col-img-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: left;
    padding: 0 0 15px 20px;
    box-sizing: border-box;
    opacity: 0;
}

/* Affichage de la description au survol de la div englobant l'image */
.container .col:hover .col-img-description {
	opacity: 1;
}

.container .col .col-img-description a {
    color: white;
}

.container .col .col-img-description a:hover {
    text-decoration: underline;
}

.container .col .col-img-description .circle-icon {
    position: absolute;
    top: 25%;
    right: 20px;
    border: 2px solid white;
    /* Cercle autour de l'icone */
    border-radius: 50%;
    padding: 5px;
    width: 42px;
    box-sizing: border-box;
    text-align: center;
}

/* ---------------------------------
			NEWSLETTER
-----------------------------------*/
#contact {
    background-color: #a1a4a9;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10% 0;
}

#contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

#contact form input {
    display: inline-block;
    width: 320px;
    margin-right: 20px;
    border-radius: 3px;
    height: 45px;
    border: 0;
}

#contact form input[type="text"] {
    padding-left: 30px;
}

/* ---------------------------------
			PIED DE PAGE
-----------------------------------*/
footer {
    background: #fff;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

footer .list-inline {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    list-style-type: none;
}

footer .list-inline > li {
    display: inline-block;
    margin-right: 20px;
}

footer .list-inline > li > a {
    color: #999;
}

footer .social-media-list {
    float: right;
}

footer .support, footer .list-inline > li.support > a {
    color: #eb0028;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}